*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: rgb(24, 23, 49);
}

span{
    color: rebeccapurple;
}

.container{
    width: 700px;
    padding: 15px;
    border-left: 2px solid rgb(107, 0, 128);
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.container .inputs{
    margin: 30px;
    border-radius: 0px;
    width: 600px;
    background: none;
    color: white !important;
}

.container .inputs::placeholder{
    color: white;
}

.container h1, p{
    margin: 30px;
}

.enviar{
    width: 10rem;
    border-radius: 0px;
    margin: 28px;
    transition: all 0.3s;
    background: rebeccapurple;
}

.enviar:hover{
    background: rgba(102, 51, 153, 0);
    transition: all 0.3s;
    letter-spacing: 1px;
}