<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC 3 ANO</title>
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css">
</head>
<body>
    

    

    <script src="../assets/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/951dd3b656.js" crossorigin="anonymous"></script>   
</body>
</html>