<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC 3 ANO</title>
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/cadastro.css">
</head>
<body>
    
<div class="container">
    <h1 class="titulo">Bem vindo ao nosso <span>PROJETO TCC</span> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat.</p>
    <form action="">
        <input type="text" class="form-control inputs" placeholder="Digite seu nome de usuário" name="usuario"> 
        <input type="text" class="form-control inputs" placeholder="Digite seu email" name="email">
        <input type="password" class="form-control inputs" placeholder="Digite sua senha" name="senha">
        <input type="submit" class="btn enviar btn-dark" value="Enviar">
    </form>
</div>

    <script src="../assets/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/951dd3b656.js" crossorigin="anonymous"></script>   
</body>
</html>